<h1>Catalog</h1>
<hr>

<table class="table-hover">
  <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Thumbnail</th>
    <th>Price</th>
    <th>Quantity</th>
  </tr>
  </thead>

  <tbody>
  <% @catalog_items.each do |catalog_item| %>
      <tr>
        <td><%= catalog_item.name %></td>
        <td><%= catalog_item.description %></td>
        <td><%= image_tag catalog_item.image.url(:thumb) %></td>
        <td><%= number_to_currency catalog_item.price_in_dollars %></td>
        <td><input type="number" name="quantity" min="1" max="99"></td>

      </tr>
  <% end %>
  </tbody>


</table>
<br>
<div class="actions pull-right">
  <button class="btn-primary btn-add-cart">Add to Cart</button>
</div>
<br>
<br>