input{
  display: block;
  width: 100%;
  padding: 5px;
  margin-bottom: 12px;
}

textarea{
  display: block;
  width: 100%;
  padding: 5px;
  margin-bottom: 12px;
}

.block-button{
  display: block;
  width: 100%;
  margin-bottom: 12px;
}

.padding-left-10{
  padding-left: 10px;
}

.no-padding-right{
  padding-right: 0;
}

table{
  width: 100%;

}

thead{
  background-color:$lighter-blue;
  color: #ffffff;
}

th{
  padding: 5px;
}

td{
  padding: 5px;
  border-bottom: solid thin $light-grey;
}

.alert:empty {
  display: none;
}





