.btn-primary{
  background-color: $lighter-blue;
}

.btn-success{
  background-color: $primary-green;
}

.btn-info{
  background-color: $lightest-blue;
}

.btn-warning{
  background-color: $primary-yellow;
}

.field{
  input{
    display: block;
    width: 100%;
  }

}

.actions{
  input{
    display: block;
    width: 100%;
  }
}
