footer{
  //min-height: 70px;
  color: $dark-grey;
  background-color: $lightest-grey;
}

.align-right{
  text-align: right;
}

.footer-container{
  padding: 20px 70px;
}

.team-name{
  float: right;
}