$dark-blue: #112e51;
$medium-blue: #205493;
$lighter-blue: #0071bc;
$lightest-blue: #02bfe7;

$primary-red: #e31c3d;
  $secondary-red: #cd2026;
$primary-yellow: #fdb81e;
$primary-green: #2e8540;

$dark-grey: #323a45;
$medium-grey: #5b616b;
$light-grey: #aeb0b5;
$lightest-grey: #d6d7d9;


$viewport-xs: 768px;
$viewport-md: 992px;
$viewport-lg: 1200px;