<!DOCTYPE html>
<html>
<head>
  <title>ShoppingDemo</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<main>
<div class="content-container">
  <div class="login-text-container">
<%= yield %>
  </div>

</div>
</main>
</body>
</html>
